# =========================
# 1. Python Environment files
# =========================
venv/
env/
.venv/

__pycache__/
*.py[cod]
*$py.class

# =========================
# 2. Database Files (CRITICAL)
# =========================
*.db-journal
*.sqlite3-journal
*.db-wal
*.db-shm
*.db
*.db-wal
*.db-shm

# =========================
# 3. Text Editor & OS Files
# =========================
.vscode/
.idea/
*.swp
*~

.envi 

# =========================
# 4. Python Packaging & Build Files
# =========================
build/
dist/
*.egg-info/
src/*.egg-info/

# =========================
# 5. Logs & Output Data
# =========================
logs/
*.log

# =========================
# 6. Temp ignore
# =========================
src/idk/etc/raw_shell_history.txt
src/idk/etc/clean_shell_history.txt